body{
    background-color: palevioletred;
}

.name_of_object{
 color:aliceblue;   
 background-color: blue;
}

#camera{
    border: 2px dashed turquoise;
    height: 300px;
    width: 350px;

}